#carrousel{

    position:relative;

    height:200px;

    width:700px;

    margin:auto;

}

#carrousel ul li{

    position:absolute;

    top:0;

    left:0;

}



.prev img  {
    position: absolute;
    top:0;
    left:40%;
    height: 50px;
    width: auto;
    
}

.next img {
   position: absolute;
   top:0;
     left:55%;
   height: 50px;
   width: auto;

}